.recipe-block {
    position: relative;
    top: 100px;
}

.recipe-block img {
    width: 350px;
    border-radius: 5px;
    box-shadow: 8px 8px 15px rgba(55, 55, 55, 0.64);
}

.recipe-description {
    margin-top: 0;
}

.recipe-description h6{
    color: #676767;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.32);
}

.recipe-description h2{
    color: #000000;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.32);
}

.recipe-title {
    position: relative;
    text-align: left;
    left: 0px;
    margin-bottom: 20px;
}
