footer {
    margin: 0 auto;
    position: relative;
    background-color: #373737;
    top: 100px;
    height: 150px ;
    max-width: 1440px;
    max-height: 140px;
}
.logo-footer {
    position: absolute;
    width: 85px;
    height: 100px;
    margin: 20px;
}

.contacts {
    margin-top: 20px;
}

.contacts h4{
    padding-bottom: 20px;
}

.social-network {
    margin: 20px;
}

.footer-content {
    color: white;
    position: relative;
    max-width: 1140px;
    justify-content: right;
    padding-left: 120px;
}

.phone {
    word-spacing: 3px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.phone p {
    color: white;
    line-height: 0px;
    font-size: 14px;

}

.phone a {
    text-decoration: none;
    color: white;
    line-height: 15px;
    font-size: 14px;
    width: 140px;
}

.phone i {
    line-height: 0px;
    font-size: 16px;
    margin-right: 5px;

}

.social-network_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.social-network_content i {
    font-size: 20px;
    padding-right: 20px;
    margin-top: 10px;
    color: white;

}

.social-network_content i:hover {
    color: dodgerblue;
    transition: all 0.5s ease;
}

.author {
    font-size: 12px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 10px;
}

@media all and (max-width: 960px) {
    .logo-footer {
        width: 65px;
        height: 80px;

    }


    .contacts h4{
        font-size: 15px;
    }

    .phone p {
        font-size: 10px;
    }

    .phone a {
        font-size: 10px;
    }

    .phone i {
        font-size: 12px;
    }

    .social-network h4 {
        font-size: 15px;
    }

    .social-network_content i {
        font-size: 16px;
        padding-right: 8px;
    }

    .author {
        font-size: 9px;
    }
}

@media all and (max-width: 720px) {
    .logo-footer {
        width: 55px;
        height: 65px;
        margin: 5px;
        margin-top: 18px;
    }


    .contacts h4{
        font-size: 12px;
    }

    .phone p {
        font-size: 8px;
    }

    .phone a {
        font-size: 8px;
    }

    .phone i {
        font-size: 10px;
    }

    .social-network h4 {
        font-size: 12px;
    }

    .social-network_content i {
        font-size: 14px;
        padding-right: 5px;
    }

    .author {
        font-size: 9px;
    }
}

@media all and (max-width: 540px) {
    .footer-content {
        padding-left: 80px;
    }

    .social-network {
        margin-left: 10px;
        margin-right: 0;
    }

    .author {
        padding-top: 100px;
    }
}




